{% extends "base.html" %}
{% block title %}change password{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">





    <form action="/change_password" method="post">
        <div class="row">
            <div class="col-12 pt-5 mt-5">
                <h5 class="text-center mt-4" style="color:green;"><b><i>Change Password</i></b> </h5>

                <input class="btn1 my-3 p-2 " id="email" type="password" name="password1" placeholder="new password" required>

                    {% if message  %}
                <p style=" color:blue;   margin-left: 42%;">{{ message }}</p>
                    {% endif %}
                <input class="btn1 p-2 my-3 " id="pass1" style="background-color:white;" type="password"
                       name="password2"
                       placeholder="Repeat Password" required>
                <br>
                <input class="btn1" id="lo" type="submit" value="Save">



            </div>


        </div>
    </form>
{% endblock %}