{% extends "base.html" %}
{% block title %}{{ course_name }}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div style="">
        <div class="container">
            <br>
            <br>
            <br>
            <div id="accordion">
                <!---------------------------------------------------------------------------------------------------------------------------------------------------------------->


                {% for i in range(data_count) %}

                <div class="card" style="background:#f7f7f5">
                    <!--                    style="background: rgb(166,168,168);background: linear-gradient(90deg, rgba(166,168,168,1) 0%, rgba(230,229,229,1) 49%, rgba(166,168,168,1) 100%);"-->
                    <div class="card-header" style="background:#edece8" id="heading{{ i }}">
                        <h5 class="mb-0">
                            <button class="btn btn-link text-dark " data-toggle="collapse"
                                    data-target="#collapse{{ i }}"
                                    aria-expanded="true"
                                    aria-controls="collapse{{ i }}">
                                {{ complt_data[i]['skill'] }}
                            </button>
                        </h5>
                    </div>


                    <div id="collapse{{ i }}" class="collapse" aria-labelledby="heading{{ i }}"
                         data-parent="#accordion">
                        <div class="card-body">

                            <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

                            {% if complt_data[i]['nested'] %}

                            <div id="acrdn{{ i }}">
                                {% for k in range(complt_data[i]['count']) %}
                                <div class="card">
                                    <div class="card-header bg-light"
                                         id="heading{{ complt_data[i]['videos'][k]['skill'] ~ k~100 }}">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link text-dark" data-toggle="collapse"
                                                    data-target="#collapse{{ complt_data[i]['videos'][k]['skill'] ~ k~100 }}"
                                                    aria-expanded="true"
                                                    aria-controls="collapse{{ complt_data[i]['videos'][k]['skill'] ~ k~100 }}">
                                                {{ complt_data[i]['videos'][k]['skill'] }}
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapse{{ complt_data[i]['videos'][k]['skill'] ~ k~100 }}"
                                         class="collapse"
                                         aria-labelledby="heading{{ complt_data[i]['videos'][k]['skill'] ~ k~100 }}"
                                         data-parent="#acrdn{{ i }}">
                                        <div class="card-body">
                                            {% for j in complt_data[i]['videos'][k] %}
                                            {% if j != 'skill' %}
                                            <div class="container p-7 border-primary text-primary mt-5 text-white">
                                                <h1>{{ complt_data[i]['videos'][k][j]['title'] }}</h1>
                                                <div class="container my-5">
                                                    <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px; overflow: hidden;box-shadow: 0 8px 12px 0 rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .3);" >

                                                        <iframe class="embed-responsive-item iframe"
                                                                style="align-content: center;box-shadow: 0 8px 12px 0 rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .3);"
                                                                src="https://www.youtube.com/embed/{{ complt_data[i]['videos'][k][j]['v_id'] }}?rel=0&modestbranding=1"
                                                                allowfullscreen></iframe>
                                                        <br><br>
                                                    </div>
                                                </div>
                                                <h3>views: {{ complt_data[i]['videos'][k][j]['view_count'] }}</h3><br>
                                                <h3>likes: {{ complt_data[i]['videos'][k][j]['like_count'] }}</h3><br>
                                                <h3>dislike: {{ complt_data[i]['videos'][k][j]['dislike_count'] }}</h3>
                                                <br>
                                                <h3>category : {{ complt_data[i]['videos'][k][j]['cid'] }}</h3>
                                                <h3><a href="{{ complt_data[i]['videos'][k][j]['url'] }}">url</a></h3>
                                            </div>
                                            {% endif %}
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            {% else %}


                            {% for j in complt_data[i] %}
                            {% if j != 'skill' and j!='nested' %}
                            <div class="container p-7 border-primary text-primary mt-5 text-white">
                                <h1>{{ complt_data[i][j]['title'] }}</h1>
                                <div class="container my-5">
                                    <div class="embed-responsive embed-responsive-16by9 "
                                         style="border-radius: 15px; overflow: hidden;box-shadow: 0 8px 12px 0 rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .3);">

                                        <iframe class="embed-responsive-item "
                                                src="https://www.youtube.com/embed/{{ complt_data[i][j]['v_id'] }}?modestbranding=1&iv_load_policy=0"
                                                allowfullscreen></iframe>
                                        <br><br>
                                    </div>
                                </div>
                                <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                                <div class="llikedislike " >
                                    <i class="fa fa-eye fa_custom fa-x" >{{ complt_data[i][j]['view_count'] }}</i>
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true">{{ complt_data[i][j]['like_count'] }}</i>
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true" >{{ complt_data[i][j]['dislike_count'] }}</i>

                                </div>
                                <h3><a href="{{ complt_data[i][j]['url'] }}">url</a></h3>
                            </div>
                            {% endif %}
                            {% endfor %}


                            {% endif %}

                            <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->


                        </div>
                    </div>
                </div>
                {% endfor %}


                <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
                <a class="btn btn-danger " style="margin-left:90%; margin-top:2%; margin-bottom:6%;"
                   href="/delete/{{ course_name }}">Delete</a>
            </div>
        </div>
    </div>

</div>


{% endblock %}