{% extends "base.html" %}
{% block title %}Courses{% endblock %}

{% block content %}
<div
        style="background: rgb(166,168,168);background: linear-gradient(90deg, rgba(166,168,168,1) 0%, rgba(230,229,229,1) 49%, rgba(166,168,168,1) 100%);">
    <div class="container">
        <br>
        <br>
        <br>
        <h2 class="ml-2 mb-3 " style="color:#0066cc;"><b>Enrolled Courses</b></h2>
        <div id="accordion">
            {% with messages = get_flashed_messages() %}
            {% if messages %}

            {% for message in messages %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>

            {% endfor %}

            {% endif %}
            {% endwith %}
            {% for skill in course %}
            <div class="card-header bg-light" id="heading{{ i }}" style="margin:5px">
                <h5 class="mb-0">
                    <button class="btn btn-link " data-toggle="collapse" data-target="#collapse{{ i }}"
                            aria-expanded="true"
                            aria-controls="collapse{{ i }}">
                        <a href="/course/{{ skill['skill'] }}">{{ skill['skill'] }}</a>
                    </button>
                </h5>
            </div>

            {% endfor %}
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>


</div>


{% endblock %}