{% extends "base.html" %}
{% block title %}Courses{% endblock %}

{% block content %}
<div
        style="background: rgb(166,168,168);background: linear-gradient(90deg, rgba(166,168,168,1) 0%, rgba(230,229,229,1) 49%, rgba(166,168,168,1) 100%);">
    <div class="container">
        <br>
        <br>
        <br>
        <div id="accordion">
            {% for skill in course %}
                <div class="card-header bg-light" id="heading{{ i }}" style="margin:5px">
                        <h5 class="mb-0">
                            <button class="btn btn-link " data-toggle="collapse" data-target="#collapse{{ i }}"
                                    aria-expanded="true"
                                    aria-controls="collapse{{ i }}">
                                {{ skill['skill'] }}
                            </button>
                        </h5>
                    </div>

            {% endfor %}
        </div>
        <br>
        <br>
        <br>
        <br>
</div>


</div>


{% endblock %}