<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='sample.css')}}">
    <meta charset="UTF-8">

    <title>Title</title>
    <style>
        html,body{

        }

.form-rounded {

height:40px;
border-radius: 2rem;
}










    </style>

</head>

<body>
<nav class="navbar navbar-light justify-content-between bg-dark">
<!--    id="grad"-->
    <a class="navbar-brand col-6  text-light ml-4 mt-2"><h3><b><i><span style="color:#cc0202">Q</span>ick<span
            style="color:#cc0202">S</span>kill</i></b></h3></a>

    <form class="navbar-text">
        {% if authenticated %}
        <img src="{{url_for('static',filename='img/user_avatar.png')}}" alt="avatar" style=""
             class="rounded-circle  ml-4 mb-1" width="33"><br>
        <a href="/logout" class="btn text-white mr-1 mb-0 btn-danger mybtn "
           style="width:6em; height:1.9em; padding:2px;font-size:14px;" type="submit">Logout</a>
        {% else %}
        <img src="{{url_for('static',filename='img/user_avatar.png')}}" alt="avatar" style=""
             class="rounded-circle  ml-5 mb-1" width="33"><br>
        <a href="/sign_in" class="btn text-white mb-0 btn-primary mybtn "
           style="width:3.3em; height:1.9em; padding:2px;font-size:14px;" type="submit">Login</a>
        <a href="/sign_up" class="btn text-white btn-success mybtn"
           style="width:3.8em; height:1.8em; padding:2px;font-size:14px;" type="submit">Sign Up</a>
        {% endif %}

    </form>

    <div class="row col-12 ">
        <div style="padding-left:30%;width:75%;padding-top:15%;padding-bottom:20%; w-100">
            <form action="/" method="post">
                <div class="form-group w-100" >

                    <input name="text"  autocomplete="off" class="form-control form-rounded" placeholder="Search here..." >
                </div>
                <input style="margin-left:40%;" type="submit" class="btn btn-primary" value="Submit">
            </form>

        </div>
    </div>


</nav>

<!--<div style="height:45vw;" id="grad">-->
<!--    <nav class="navbar" >-->
<!--        <div class="row">-->
<!--            <a class="navbar-brand col-4   text-light ml-4 ">-->
<!--                <h3><b><i><span class="text-danger">Q</span>ick<span class="text-danger">S</span>kill</i></b></h3>-->
<!--            </a>-->
<!--            &lt;!&ndash;        <div class="col-5 py-4 px-5 text-light">&ndash;&gt;-->
<!--            &lt;!&ndash;            <div class="container">&ndash;&gt;-->
<!--            &lt;!&ndash;                <h3><b><i><span class="text-danger">Q</span>ick<span class="text-danger">S</span>kill</i></b></h3>&ndash;&gt;-->
<!--            &lt;!&ndash;            </div>&ndash;&gt;-->
<!--            &lt;!&ndash;        </div>&ndash;&gt;-->

<!--            <div class="col-4">-->
<!--                <button type="button" class="btn btn-danger ">Sign up</button>-->
<!--                <button type="button" class="btn btn-success ">Log in</button>-->
<!--            </div>-->
<br>

</div>
<!--    </nav>-->
<!--</div>-->


<!--<div class="description"-->
<!--     style="height: 300px;  background: linear-gradient(to bottom left, #33ccff 0%, #ff99cc 100%);">-->
<!--    <h3 class="text-center">description</h3>-->
<!--</div>-->

<footer>
    <div class="container-fluid bg-dark"
         style="position:fixed;bottom:0;">
        <!--        <div class="row text-white">-->

        <!--                    <div class="col-8 my-4"><h4><b><i><span class="text-danger">Q</span>ick<span-->
        <!--                            class="text-danger">S</span>kill</i></b></h4></div>-->
        <!--            <div class="col-4 my-5 float-right "><h5><b>Contact</b></h5>-->
        <!--                <div class="ml-2 pl-3">-->
        <!--                    +919895051081<br>-->
        <!--                    +919544221664<br>-->
        <!--                    +918086447566<br>-->
        <!--                </div>-->
        <!--            </div>-->

        <div class="text-white col-12"><small class="text-sm"> &#xa9; copyright 2020</small> <a class="text-light" href="http://qickzo.com/"><small
                class="float-right mr-2 "><b><i> <span class="text-danger">Q</span>ick<span
                class="text-danger">Z</span>o</i></b></small></a></div>
    </div>
</footer>


</body>
</html>

