{% extends 'base.html'%}
{% block title%}Dashboard{% endblock %}

{% block content%}
<div>
    <!--    <link rel="stylesheet" href="{{url_for('static',filename='dashboard.css')}}">-->
    <div class="bg-light"
    >
        <div class="col-12">
            <div class="container"><br><br><br></div>
        </div>
        <div class="container">
            <div class="row border border-dark">
                <div class="col-11 mt-5 pt-2 text-secondary" style="padding-left:3%">
                    <div class="row">
                        <h3 class="col-5"> Edit Your Account</h3>
                        <div class="col-5"></div>
                        <a class="col-2" style=" padding-left:5%" href="/courses">Go back</a>
                    </div>
                </div>
                <div class="col-md-10 col-sm-12 col-12" style="padding-top:2%;padding-bottom:5%;padding-left:3%;">

                    <form action="/profile" method="post">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp"
                                   placeholder="Enter name" value="{{ name }}">

                        </div>

                        <div class="form-group">
                            <label for="password1">Password</label>
                            <input type="password" class="form-control" id="password1" name="password1"
                                   placeholder="Password">
                            <label for="password2">Retype Password</label>
                            <input type="password" class="form-control" id="password2" name="password2"
                                   placeholder="Retype Password">
                        </div>
                        {% if message %}
                        <p style=" color:red;   margin-left: 42%;">{{ message }}</p>
                        {% endif %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
                <div class="col-md-2 col-sm-12 col-12 "></div>
                <!--            <div class="col-md-2 col-sm-12 col-12" style="padding-top:2%;padding-bottom:5%;">-->
                <!--                <div class="form-group1">-->
                <!--                    <a href='https://www.freecodecamp.org/'>-->
                <!--                        <button>Edit profile</button>-->
                <!--                    </a>-->
                <!--                </div>-->
                <!--                <br>-->

                <!--                <div class="form-group1">-->
                <!--                    <a href='https://www.freecodecamp.org/'>-->
                <!--                        <button>courses</button>-->
                <!--                    </a>-->
                <!--                </div>-->
                <!--                <br>-->
                <!--                <div class="form-group1">-->
                <!--                    <a href='https://www.freecodecamp.org/'>-->
                <!--                        <button>settings</button>-->
                <!--                    </a>-->
                <!--                </div>-->
                <!--            </div>-->
            </div>
        </div>
    </div>
</div>
{% endblock %}
