{% extends "base.html" %}
{% block title %}forgot password{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
<div>
    <form action="/reset_password_request" method="post">
        <div class="row">
            <div class="col-12 pt-5 mt-5">


<br>
                <h3 class="text-center mt-4" style="color:#e47010;"><b><i>Enter your email </i></b></h3>
                <input class="btn1 my-3 p-2 " id="email" type="email" name="email" placeholder="Email" required>




                <input class="btn1" id="lo" type="submit" value="SUBMIT">
               </div>



            </div>


    </form>
</div>
{% endblock %}