<!DOCTYPE html>
<html lang="en">
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="signin.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="HandheldFriendly" content="true">

</head>
<!------ Include the above in your HEAD tag ---------->
<body>

<div class="container col-12   ">
  <form action="/action_page.php">
    <div class="row">


		<div class="col-12">


        <input class="btn1" id="user" type="text" name="username" placeholder="Username" required>
        <input class="btn1" id="pas" type="password" name="password" placeholder="Password" required>
        <input class="btn1" id="log" type="submit" value="Login">
      </div>

			<div class=" col-12 ">

				<p class="forgot pl-5"><span class="or">or</span> Forgot Password?</p>

			</div>


		<div class=" col-12 ">

				<p class="para2 pl-5"> Don't have an account?<a class="sign" href="signup.html" "> Sign up</a></p>
		</div>

    </div>
  </form>
</div>

<!--<div class="bottom-container">-->
<!--  <div class="row">-->
<!--    <div class="col">-->
<!--      <a href="#" style="color:white" class="btn">Sign up</a>-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <a href="#" style="color:white" class="btn">Forgot password?</a>-->
<!--    </div>-->
<!--  </div>-->
</div>

	</body>
</html>
