<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="signup.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>


<div class="container col-12">
  <form action="/action_page.php">
    <div class="row">




      <div class="col">


        <input class="btn1" id="full" type="text" name="Fullname" placeholder="Full name" required>
        <input class="btn1" id="email" type="email" name="email" placeholder="Email" required>
        <input class="btn1" id="pass" type="password" name="password" placeholder="Password" required>
        <input class="btn1" id="lo" onclick="window.location.href=''"  type="submit" value="Sign Up">
      </div>


        <div class=" col-12 ">

            <p class="forgot">By signing up, you agree to our <span class="ter">Terms of Use</span> and <span class="privacy"> Privacy Policy</span> .</p>

			</div>
        <div class="col-12">
        <p class="already">Already have an account?<a href="signin.html" class="bottom">Sign in</a></p>

        </div>


    </div>
  </form>
</div>




</body>
</html>