{% extends "base.html" %}

{% block title %}Sign In{% endblock %}
{% block content %}
<!------------------------------------------------------------------------------->
<link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}">
<!--    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->

<!--    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->


<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

<!--    <meta name="HandheldFriendly" content="true">-->
<!------------------------------------------------------------------------------->

<div class="cont col-12 h-100 "
     style="background: rgb(166,168,168);background: linear-gradient(90deg, rgba(166,168,168,1) 0%, rgba(230,229,229,1) 49%, rgba(166,168,168,1) 100%);">
    <form action="/sign_in" method="post">

        <div class="row">
            <div class="col-12 pt-5 mt-5">
                <h2 class="text-center mt-4" style="color:#e47010;"><b><i>Login </i></b></h2>

                <input class="btn1 my-3 p-2" id="user" type="email" name="email" placeholder="email" required>
                <input class="btn1 my-3 p-2" id="pas" type="password" name="password" placeholder="Password" required>

                <input class="btn1 my-5 p-2" id="log" type="submit" value="Login">
                {% if message %}
                <div class="alert alert-danger"
                     style="margin-left:10%;margin-right:10%;margin-top:3%;"
                     role="alert">
                    {{ message }}
                </div>
                {% endif %}
                <div class="text-center">

                    <p class="forgot pl-5"><span class="or">or</span><a href="/reset_password_request"> Forgot Password?</a></p>
                    <p class="para2 pl-5"> Don't have an account?<a class="sign" href="/sign_up"> Sign up</a></p>
                </div>
            </div>


        </div>
    </form>
</div>


{% endblock %}